api/irail.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://api.irail.be/schema" xmlns:tns="http://api.irail.be/schema" elementFormDefault="qualified">
    
    <!-- List all stations -->
    <element name="RequestListAllStations" type="string">
        <annotation>
            <documentation>
              By doing a call to http://api.irail.be/stations/ you can get a list of all stations for the API you're calling to. For example this call returns all Belgian trainstations.
            </documentation>
        </annotation>
    </element>

    <element name="ResponseListAllStations" type="tns:stationsType">
        <annotation>
            <documentation>
              The response of a stations request (eg. http://api.irail.be/stations/) will contain a list of all stations with their name and geographic location.
            </documentation>
        </annotation>
    </element>

    <complexType name="stationsType">
        <sequence>
            <element name="station" type="tns:stationType" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="timestamp" type="integer" use="required" /> <!-- Timestamp is just a random number" -->
    </complexType>

    <complexType name="stationType">
        <attribute name="locationX" type="double" use="required" />
        <attribute name="locationY" type="double" use="required" />
    </complexType>

    <!-- Schedules -->
    <element name="RequestSchedules" type="tns:RequestSchedulesType">
        <annotation>
            <documentation>
              By doing a call to http://api.irail.be/connections/ and if provided by the right attributes, it will return possible connections to your destination.
            </documentation>
        </annotation>
    </element>

    <complexType name="RequestSchedulesType">
        <sequence>
            <element name="station1" type="string" />
            <element name="station2" type="string" />
            <element name="date"> <!--This will accept invalid dates like 31-02-2010-->
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-3][0-9][0-9]{2}[10|11]" />
                    </restriction>
                </simpleType>
            </element>
            <element name="time"> <!--This will accept invalid times-->
                <simpleType>
                    <restriction base="string">
                        <pattern value="[0-2][0-9][0-5][0-9]" />
                    </restriction>
                </simpleType>
            </element>
            <element name="lang">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="NL" />
                    </restriction>
                </simpleType>
            </element>
            <element name="timeSel">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="arrive" />
                        <enumeration value="depart" />
                    </restriction>
                </simpleType>
            </element>
            <element name="typeOfTransport">
                <simpleType>
                    <restriction base="string">
                        <pattern value="([bus|taxi|train];)*[bus|taxi|train]" />
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>

    <element name="ResponseSchedules" type="tns:connectionsType">
        <annotation>
            <documentation>
              Response for schedules between two stations.
            </documentation>
        </annotation>
    </element>

    <complexType name="connectionsType">
        <sequence maxOccurs="unbounded">
            <element name="connection" type ="tns:connectionType" />
        </sequence>
    </complexType>

    <complexType name="connectionType">
        <sequence maxOccurs="unbounded">
            <element name="departure" type="tns:departureType" />
            <element name="vias" type="tns:viasType" />
            <element name="arrival" type="tns:arrivalType" />
            <element name="duration" type="tns:durationType" />
        </sequence>
        <attribute name="id" type="integer" use="required" />
    </complexType>

    <complexType name="departureType">
        <sequence>
            <element name="station" type="tns:stationType" />
            <element name="time" type="tns:timeType" />
            <element name="vehicle" type="string" />
            <element name="platform" type="tns:platformType" />
        </sequence>
        <attribute name="delay" type="integer" use="required" />
    </complexType>

    <complexType name="timeType">
        <simpleContent>
            <extension base="integer">
                <attribute name="formatted" type="dateTime" /> <!--dateTime = iso 8601-->
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="platformType">
        <simpleContent>
            <extension base="integer">
                <attribute name="normal">
                    <simpleType>
                        <restriction base="string">
                            <enumeration value="yes" />
                            <enumeration value="no" />
                        </restriction>
                    </simpleType>
                </attribute>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="viasType">
        <sequence>
            <element name="via" type="tns:viaType" />
        </sequence>
        <attribute name="number" type="integer" />
    </complexType>

    <complexType name="viaType">
        <sequence>
            <element name="arrival" type="tns:arrivalViaType" />
            <element name="depart" type="tns:departType" />
            <element name="timeBetween" type="integer" /> <!--Time in seconds-->
            <element name="station" type="tns:stationType" />
            <element name="vehicle" type="string" /> <!--Hier een reguliere expressie van maken zodat het van deze vorm is: Be.NMBS.P1234?-->
        </sequence>
        <attribute name="id" type="integer" />
    </complexType>

    <complexType name="arrivalViaType">
        <sequence>
            <element name="time" type="tns:timeType" />
            <element name="platform" type="tns:platformType" />
        </sequence>
    </complexType>

    <complexType name="departType">
        <sequence>
            <element name="time" type="tns:timeType" />
            <element name="platform" type="tns:platformType" />
        </sequence>
    </complexType>

    <complexType name="arrivalType">
        <sequence>
            <element name="station" type="tns:stationType" />
            <element name="time" type="tns:timeType" />
            <element name="vehicle" type="string" />
            <element name="platform" type="tns:platformType" />
        </sequence>
        <attribute name="delay" type="integer" />
    </complexType>

    <simpleType name="durationRestrictionType">
        <restriction base="integer">
            <pattern value="\d{2}:\d{2}" />
        </restriction>
    </simpleType>

    <complexType name="durationType">
        <simpleContent>
            <extension base="tns:durationRestrictionType">
                <attribute name="delay">
                    <simpleType>
                        <restriction base="string">
                            <enumeration value="yes" />
                            <enumeration value="no" />
                        </restriction>
                    </simpleType>
                </attribute>
            </extension>
        </simpleContent>
    </complexType>

    <!-- Liveboard -->
    <element name="RequestLiveboard" type="tns:RequestLiveboardType">
        <annotation>
            <documentation>
                Request for liveboard information of the specified station.
            </documentation>
        </annotation>
    </element>

    <complexType name="RequestLiveboardType">
        <sequence>
            <element name="station" type="string" />
        </sequence>
    </complexType>

    <element name="ResponseLiveboard" type="tns:liveboardType">
        <annotation>
            <documentation>
                Response containing liveboard information for the specified station.
            </documentation>
        </annotation>
    </element>

    <complexType name="liveboardType">
        <sequence>
            <element name="station" type="tns:stationType" /> <!-- Hier werken we plots wél met x en y coördinaten?? -->
            <element name="departure" type="tns:departureType" /> <!-- Deze departure heeft niet exact hetzelfde formaat als de ander, aanpassen? -->
        </sequence>
        <attribute name="version" type="double" />
        <attribute name="timestamp" type="integer" />
    </complexType>

    <!-- Vehicle -->
    <element name="RequestVehicleInformation" type="tns:RequestVehicleInformationType">
        <annotation>
            <documentation>
                Request for vehicle information. Contains the id of the vehicle.
            </documentation>
        </annotation>
    </element>

    <complexType name="RequestVehicleInformationType">
        <sequence>
            <element name="id" type="string" /> <!-- Formaat van vehicle id ?-->
        </sequence>
    </complexType>

    <element name="ResponseVehicleInformation" type="tns:vehicleinformationType">
        <annotation>
            <documentation>
                Response containing information about the specified vehicle.
            </documentation>
        </annotation>
    </element>

    <complexType name="vehicleinformationType">
        <sequence>
            <element name="location" type="tns:locationType" />
            <element name="stops" type="tns:stopsType" minOccurs="1" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <complexType name="locationType">
        <attribute name="longitude" type="double" use="required" />
        <attribute name="latitude" type="double" use="required" />
    </complexType>

    <complexType name="stopsType">
        <sequence>
            <element name="station" type="tns:stationType" />
            <element name="time" type="tns:timeType" />
            <element name="delay" type="integer" />
        </sequence>
    </complexType>

    <!-- Errors -->
    <element name="ErrorResponse" type="tns:ErrorType">
        <annotation>
            <documentation>
            Response when something goes wrong. Contains an error code and description.
            </documentation>
        </annotation>
    </element>

    <complexType name="ErrorType">
        <simpleContent>
            <extension base="string">
                <attribute name="id" type="integer" use="required" />
            </extension>
        </simpleContent>
    </complexType>

</schema>